.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: $color--secondary;

    &.--lock {
        overflow: hidden;
    }
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: $breakpointA) {
        // max-width: 970px;
    }

    border: 1px solid red;
}

.title {
    font-family: 'Martel', sans-serif;
    font-style: normal;
    letter-spacing: 0.2px;
    color: $color--primary;

    &--white {
        color: $white;
    }

    &--card {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
    }
}

.btn {
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;

    transition: all 0.5s ease;
}

.block-text {

    &__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        padding-bottom: 10px;
    }

    &__text {
        max-width: 431px;
        text-align: center;
        margin: 0 auto;
        font-size: 14px;
    }
}
