// Breakpoint

$breakpointA: 1150 + px;
$breakpointB: 980 + px;
$breakpointC: 768 + px;
$breakpointD: 479 + px;

// Size numb

$size-num: (
        1: 2,
        2: 1.75,
        3: 1.25,
        4: 1,
        5: 0.75
);

// Colors

$color--primary: #252B42;
$color--secondary: #737373;
$brown: #784F33;
$white: #fff;


// Mixin and keyframes

@keyframes vnew {
    0% {
      opacity: 0;
      transform: scale(0); 
    }
  
    100% {
      opacity: 1;
      transform: scale(1); 
    } 
}
@keyframes merged {
    0% {
      transform: scale(0); 
    }
  
    50% {
      transform: scale(1.2); 
    }
  
    100% {
      transform: scale(1); 
    } 
}