// Breakpoint

$breakpointA: 1150 + px;
$breakpointB: 980 + px;
$breakpointC: 768 + px;
$breakpointD: 479 + px;

// Size numb

$size-num: (
        1: 2,
        2: 1.75,
        3: 1.25,
        4: 1,
        5: 0.75
);

// Colors

$color--primary: #252B42;
$color--secondary: #737373;
$color--l: #F9F9F9;
$color--b: #295C7A;
$color--g: #D0A144;
$color--d: #252B42;
$brown: #784F33;
$white: #fff;
$alpha: rgba(255, 255, 255, 0);

