@import url("https://fonts.googleapis.com/css2?family=Martel:wght@700;800;900&family=Montserrat:wght@400;500;700&family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700;800&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 25px;
  font-style: normal;
  overflow-x: hidden;
}

@-webkit-keyframes vnew {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes vnew {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes merged {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes merged {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

body.--lock {
  overflow: hidden;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px solid red;
}

.title {
  font-family: 'Martel', sans-serif;
  font-style: normal;
  letter-spacing: 0.2px;
  color: #252B42;
}

.title--white {
  color: #fff;
}

.btn {
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.block-text__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  padding-bottom: 10px;
}

.block-text__text {
  max-width: 431px;
  text-align: center;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-image: url(../img/header-back.png);
  background-size: cover;
}

.header__inner {
  height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 100;
}

.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.header__hero {
  padding-top: 160px;
  text-align: center;
}

@media (min-width: 980px) {
  .header__hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 680px;
    height: 100%;
    padding-top: 80px;
    text-align: left;
    position: relative;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list-items._active {
  left: -5%;
}

@media (max-width: 980px) {
  .menu__list-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    width: 110%;
    top: 0;
    left: 110%;
    padding: 164px 0 96px 0;
    background-color: #fff;
    z-index: -1;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
}

.menu__list-link {
  font-weight: 600;
  line-height: 24px;
  color: #737373;
}

.menu__list-link:hover {
  color: #252B42;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (max-width: 980px) {
  .menu__list-link {
    font-size: 30px;
    line-height: 45px;
  }
}

.menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__button:hover path {
  fill: #252B42;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu__toggle {
  display: none;
}

@media (max-width: 980px) {
  .menu__toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 980px) {
  .hero__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 108px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 58px;
  line-height: 65px;
  max-width: 510px;
}

@media (max-width: 980px) {
  .hero__title {
    max-width: 600px;
    font-weight: 700;
    font-size: calc(35px + 18 * ((100vw - 320px) / (970 - 320)));
    line-height: calc(45px + 25 * ((100vw - 320px) / (970 - 320)));
  }
}

.hero__text {
  padding: 35px 0;
  max-width: 376px;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.hero__buttons :first-child {
  background-color: #784F33;
  color: #fff;
}

.hero__buttons :first-child:hover {
  background-color: #fff;
  color: #784F33;
}

.hero__buttons :last-child {
  color: #784F33;
  border: 1px solid #784F33;
}

.hero__buttons :last-child:hover {
  border: 1px solid #fff;
  background-color: #fff;
}

@media (max-width: 980px) {
  .hero__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

.hero__button {
  padding: 10px 36px;
  border-radius: 37px;
}

.hero__image {
  max-width: 100%;
}

@media (min-width: 1150px) {
  .hero__image {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
  }
}

.features-areas {
  padding: 100px 0;
}

.features-areas__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-top: 80px;
}

@media (max-width: 980px) {
  .features-areas__card-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.features-areas__card-item {
  max-width: 329px;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
}

.features-areas__card-item:nth-child(odd) {
  background-color: #F9F9F9;
}

.features-areas__card-item:nth-child(even) {
  background-color: #295C7A;
}

.card-item__title {
  padding-top: 10px;
}
