.about {

    &__inner {
        padding-top: 116px;
        padding-bottom: 64px;
    }

    &__content {
        padding-top: 37px;
        padding-right: 118px;
        padding-bottom: 58px;

        display: flex;
        gap: 45px;
        align-items: center;
    }

    &__text {
        &:first-child{
            padding-bottom: 50px;
        }
    }

    &__btn {
        display: block;
        margin: 0 auto;
        padding: 11px 34px;
    }
}
