.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    font-family: 'Circe', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: $color--primary;

    &.--lock {
        overflow: hidden;
    }
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {

    padding: 6px 40px;

    border: 1px solid $color--secondary;
    background-color: $color--secondary;
    border-radius: 30px;

    color: $white;

    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;

    transition: all 0.5s ease;

    &:hover {
        background-color: $white;
        color: $color--secondary ;
    }

    &--dark {

        background-color: $color--primary;
        border-color: $color--primary;

        &:hover {
            background-color: $white;
            color: $color--primary ;
        }
    }
}

.title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    text-align: center;

    &--l {
        text-align: left;
    }
}

.slider {

    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    &__buttons {
        position: absolute;
        left: 0;
        right: 0;
        top: calc(50% - 40px);
        display: flex;
        justify-content: space-between;
        z-index: 100;
    }

    &__btn {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    &__btn-prev {
        background: url(../img/arrow.svg);
    }

    &__btn-next {
        background: url(../img/arrow.svg);
        transform: rotate(180deg);
    }

    &__wrapper {
        position: relative;
        overflow: hidden;
    }

    &__items {
        display: flex;
        transition: transform .5s ease;
    }

    &__item {
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
    }

    &__indicators {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 45px;
        display: flex;
        gap: 14px;
        justify-content: center;
        padding-left: 0;
        margin: 0 15%;
        user-select: none;
    }

    &__indicator {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: $color--primary-a;
        cursor: pointer;

        &--active {
            width: 28px;
            background-color: $color--secondary;
            border-radius: 10px;
        }
    }
}