.partners {
    background: $color--bg;

    &__inner {
        padding: 67px 0;
    }

    &__content {
        padding: 35px 50px;
        margin-bottom: 50px;

        display: flex;
        gap: 36px;
    }

    &__image {
        width: 240px;
        height: 100px;
        background-color: $white;
        border-radius: 15px;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
