// Breakpoint

$breakpointA: 1180 + px;
$breakpointB: 980 + px;
$breakpointC: 768 + px;
$breakpointD: 479 + px;


// Colors

$color--primary: #263057;
$color--primary-a: rgba(38, 48, 87, 0.2);
$color--secondary: #6984F0;
$white: #fff;
$alpha: rgba(255, 255, 255, 0);

