@charset "UTF-8";
*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
  line-height: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 25px;
  font-style: normal;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Regular.eot");
  src: local("Circe"), local("Circe-Regular"), url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"), url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

body {
  font-family: 'Circe', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #263057;
}

body.--lock {
  overflow: hidden;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
  border: 1px solid red;
}

.btn {
  padding: 6px 40px;
  border: 1px solid #6984F0;
  background-color: #6984F0;
  border-radius: 30px;
  color: #fff;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #fff;
  color: #6984F0;
}

.btn--dark {
  background-color: #263057;
  border-color: #263057;
}

.btn--dark:hover {
  background-color: #fff;
  color: #263057;
}

.title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
}

.title--l {
  text-align: left;
}

.slider {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.slider__wrapper {
  position: relative;
  overflow: hidden;
}

.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.slider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.slider__indicators {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin: 0 15%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider__indicator {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: rgba(38, 48, 87, 0.2);
  cursor: pointer;
}

.slider__indicator--active {
  width: 28px;
  background-color: #6984F0;
  border-radius: 10px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.menu__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list-link,
.menu .block-phone {
  line-height: 27px;
  color: #263057;
}

.block-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-bottom: 15px;
  position: relative;
}

.block-phone::before {
  content: 'круглосуточно';
  position: absolute;
  bottom: 0;
  left: 26px;
  font-size: 14px;
  letter-spacing: 0.28em;
  color: rgba(38, 48, 87, 0.2);
}

.banner {
  position: relative;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  right: -100%;
  height: 100%;
  background: linear-gradient(136.49deg, #263057 25.34%, #1D1444 89.06%);
}

.banner__slider {
  margin: 43px auto;
  background-color: #fff;
  -webkit-box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 58px 64px;
}

.banner__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__image {
  max-width: 520px;
}

.block-banner__title {
  font-weight: 700;
  font-size: 62px;
  line-height: 56px;
}

.block-banner__text {
  font-weight: 400;
  font-size: 44px;
  line-height: 40px;
  padding-bottom: 28px;
}

.block-banner__btn {
  padding: 10px 26px;
  max-width: 222px;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}

.tarifs {
  background-color: #E5E5E5;
}

.tarifs__title {
  padding: 51px 0 25px 0;
}

.tarifs__tabs {
  padding: 0 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.tarifs__best-tab {
  padding: 2px 10px;
  margin-left: 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  background-color: #6984F0;
  border-radius: 10px;
}

.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 50px 71px;
}

.tabs__item {
  font-size: 20px;
  line-height: 28px;
  color: #263057;
  -webkit-transition: border 0.9s ease;
  transition: border 0.9s ease;
}

.tabs__item--active {
  font-weight: 700;
  border-bottom: 1px solid #6984F0;
}

.tabs__item:hover {
  border-bottom: 1px solid #6984F0;
}

.tabs__block {
  display: none;
  padding-bottom: 23px;
}

.tabs__block--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs-inet__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  padding-bottom: 82px;
}

.tabs-inet__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 57px 17px 37px 17px;
}

.tabs-inet__item--best {
  background: -webkit-gradient(linear, left top, left bottom, from(#273158), to(#0C244D));
  background: linear-gradient(180deg, #273158 0%, #0C244D 100%);
  -webkit-box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.45);
          box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.45);
  border-radius: 30px;
  color: #fff;
  position: relative;
}

.tabs-inet__item--best::before {
  content: 'Хит';
  position: absolute;
  top: 25px;
  left: 0;
  padding: 2px 10px;
  margin-left: 15px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #263057;
  background-color: #fff;
  border-radius: 10px;
}

.tabs-inet__btn {
  max-width: 264px;
}

.inet-item__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
}

.inet-item__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  position: relative;
  padding-left: 34px;
}

.inet-item__text::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 22px;
  height: 22px;
  background: url("../img/tarifs.svg");
}

.inet-item__link {
  font-size: 18px;
  line-height: 25px;
  color: inherit;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(38, 48, 87, 0.2);
}

.inet-item__link:hover {
  border-bottom: 1px solid #6984F0;
  color: #6984F0;
}

.inet-item__pay {
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
}

.inet-item__pay span {
  font-weight: 400;
  font-size: 18px;
}

.inet-item__btn {
  padding: 5px 45px;
  font-size: 18px;
  line-height: 25px;
}

.feed__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.feed__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 18px;
  padding-left: 78px;
  padding-right: 58px;
  background: linear-gradient(92.37deg, #263057 29.38%, #1D1444 100.81%);
  -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  color: #fff;
  height: 200px;
}

.feed__item:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feed__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 49px;
}

.feed__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-feed__input-tel, .form-feed__input-name {
  width: 390px;
}

.form-feed__btn {
  font-size: 18px;
  line-height: 25px;
  height: 46px;
  width: 220px;
}

.form-feed__checkbox {
  opacity: 0;
}

.form-feed__checkbox + label {
  margin-left: -35px;
}

.form-feed__checkbox + label::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-radius: 1px;
  margin-right: 0.5em;
}

.form-feed__checkbox:not(:disabled):not(:checked) + label:hover::before {
  background-color: #fff;
}

.form-feed__checkbox:checked + label::before {
  border-color: #6984F0;
  background-color: #6984F0;
}

.form-feed__input-strit {
  width: 519px;
}

.form-feed__input-home {
  width: 185px;
}

.input {
  padding: 10px 23px;
  height: 46px;
  border-radius: 5px;
}
